---
layout: page
title: Service 
image: https://images.unsplash.com/photo-1533022139390-e31c488d69e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80
permalink: /service/
sitemap: yes
description: 프로그라피에서 탄생한 서비스들을 소개합니다.
---
<link rel="stylesheet" href="../assets/css/screen.css">
<link rel="stylesheet" href="../assets/css/service.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
	{% for item in site.data.service.defaults %}
	    <div class="card col-sm-12">
			<div class="card-body">
				<h2 class="card-title" style="margin:10px 0 0 0;">{{ item.name }}</h2>
				<h6 class="card-subtitle mb-2 text-muted" style="margin-top:10px">{{ item.title }}</h6>
				<p class="card-text">{{ item.content }}</p>
				<p class="post-tags">
					{% for tag in item.tags %}
						<a href="{{ tag.url }}" target="_blank" title="opensource" class="tag tag-opensource" style="text-decoration: none">{{ tag }}</a>
					{% endfor %}
				</p><br/>
                {% if item.website %}
					<a href="{{ item.website }}" target="_blank" class="btn btn-primary" style="color:#e91e63; padding-bottom:0px; text-decoration: none;"><i class="material-icons">laptop_mac</i></a>
                {% endif %}
                {% if item.android %}
				<a href="{{ item.android }}" target="_blank" class="btn btn-primary" style="border-color: #CDDC39; color:#CDDC39; text-decoration: none; padding-bottom:0px;">
					<i class="material-icons">android</i>
				</a>
                {% endif %}
                {% if item.ios %}
				<a href="{{ item.ios }}" target="_blank" class="btn btn-primary" style="color:#e91e63; text-decoration: none;">> Ios</a>
				{% endif %}
			</div>
	    </div>
	{% endfor %}
</div>
<style>
.card {
	width: 100%;
	margin: 1.25rem;
}
</style>
