---
layout: page
title: Prography Service
image: https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80
permalink: /service/
sitemap: yes
excerpt: 프로그라피에서 나온 서비스들을 소개합니다.
---

<link rel="stylesheet" href="../assets/css/service.css">
<div class="row">
	{% for item in site.data.service.defaults %}
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h2 class="card-title" style="margin:10px 0 0 0;">{{ item.name }}</h2>
				<h6 class="card-subtitle mb-2 text-muted" style="margin-top:10px">{{ item.title }}</h6>
				<p class="card-text">{{ item.content }}</p>
				<p class="post-tags">
					{% for tag in item.tags %}
					{% assign tag_url = '/tags/' | append: tag %}
						{% for tm in site.data.opensource.tagmap %}
							{% if tag == tm.tag %}
								{% assign tag_url = tm.url %}
							{% endif %}
					    {% endfor %}
					<a href="{{ tag_url }}" target="_blank" title="opensource" class="tag tag-opensource" style="text-decoration: none">{{ tag }}</a>
					{% endfor %}
				</p><br/>
				<a href="{{ item.github }}" target="_blank" class="btn btn-primary" style="color:#e91e63; text-decoration: none;">> GitHub</a>
				{% if item.github2 %}
				<a href="{{ item.github2 }}" target="_blank" class="btn btn-primary"  style="color:#e91e63; text-decoration: none;">> GitHub2</a>
                {% endif %}
                {% if item.website %}
				<a href="{{ item.website }}" target="_blank" class="btn btn-primary" style="color:#e91e63; text-decoration: none;">> Website</a>
                {% endif %}
                {% if item.android %}
				<a href="{{ item.android }}" target="_blank" class="btn btn-primary" style="color:#e91e63; text-decoration: none;">> Android</a>
                {% endif %}
                {% if item.ios %}
				<a href="{{ item.ios }}" target="_blank" class="btn btn-primary" style="color:#e91e63; text-decoration: none;">> Ios</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>