
code.highlighter-rouge {
    margin: 0;
    padding: 0.2em 0.4em;
    color: #586e75;
    background-color: #fafafa;
    font-size: 85%;
    border-radius: 3px;
  }
  
  /* Multi-line code blocks */
  div.highlighter-rouge,
  figure.highlight {
    position: relative;
    margin-bottom: 1em;
    background: #fafafa;
    color: #586e75;
    font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace;
    line-height: 1.8;
  }
  div.highlighter-rouge > pre,
  div.highlighter-rouge pre.highlight,
  figure.highlight > pre,
  figure.highlight pre.highlight {
    margin: 0;
    padding: 1em;
  }
  
  .highlight table {
    margin-bottom: 0;
    font-size: 1em;
    border: 0;
  }
  .highlight table td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;
    /* line numbers*/
    /* code */
  }
  .highlight table td.gutter {
    padding-right: 1em;
    width: 1em;
    color: #839496;
    border-right: 1px solid #839496;
    text-align: right;
  }
  .highlight table td.code {
    padding-left: 1em;
  }
  .highlight table pre {
    margin: 0;
  }
  
  .highlight pre {
    width: 100%;
  }
  
  .highlight .hll {
    background-color: #eee8d5;
  }
  
  .highlight .c {
    /* Comment */
    color: #839496;
  }
  .highlight .err {
    /* Error */
  }
  .highlight .k {
    /* Keyword */
    color: #6c71c4;
  }
  .highlight .l {
    /* Literal */
    color: #cb4b16;
  }
  .highlight .n {
    /* Name */
    color: #586e75;
  }
  .highlight .o {
    /* Operator */
    color: #2aa198;
  }
  .highlight .p {
    /* Punctuation */
    color: #586e75;
  }
  .highlight .cm {
    /* Comment.Multiline */
    color: #839496;
  }
  .highlight .cp {
    /* Comment.Preproc */
    color: #839496;
  }
  .highlight .c1 {
    /* Comment.Single */
    color: #839496;
  }
  .highlight .cs {
    /* Comment.Special */
    color: #839496;
  }
  .highlight .gd {
    /* Generic.Deleted */
    color: #dc322f;
  }
  .highlight .ge {
    /* Generic.Emph */
    font-style: italic;
  }
  .highlight .gh {
    /* Generic.Heading */
    color: #586e75;
    font-weight: bold;
  }
  .highlight .gi {
    /* Generic.Inserted */
    color: #859900;
  }
  .highlight .gp {
    /* Generic.Prompt */
    color: #839496;
    font-weight: bold;
  }
  .highlight .gs {
    /* Generic.Strong */
    font-weight: bold;
  }
  .highlight .gu {
    /* Generic.Subheading */
    color: #2aa198;
    font-weight: bold;
  }
  .highlight .kc {
    /* Keyword.Constant */
    color: #6c71c4;
  }
  .highlight .kd {
    /* Keyword.Declaration */
    color: #6c71c4;
  }
  .highlight .kn {
    /* Keyword.Namespace */
    color: #2aa198;
  }
  .highlight .kp {
    /* Keyword.Pseudo */
    color: #6c71c4;
  }
  .highlight .kr {
    /* Keyword.Reserved */
    color: #6c71c4;
  }
  .highlight .kt {
    /* Keyword.Type */
    color: #b58900;
  }
  .highlight .ld {
    /* Literal.Date */
    color: #859900;
  }
  .highlight .m {
    /* Literal.Number */
    color: #cb4b16;
  }
  .highlight .s {
    /* Literal.String */
    color: #859900;
  }
  .highlight .na {
    /* Name.Attribute */
    color: #268bd2;
  }
  .highlight .nb {
    /* Name.Builtin */
    color: #586e75;
  }
  .highlight .nc {
    /* Name.Class */
    color: #b58900;
  }
  .highlight .no {
    /* Name.Constant */
    color: #dc322f;
  }
  .highlight .nd {
    /* Name.Decorator */
    color: #2aa198;
  }
  .highlight .ni {
    /* Name.Entity */
    color: #586e75;
  }
  .highlight .ne {
    /* Name.Exception */
    color: #dc322f;
  }
  .highlight .nf {
    /* Name.Function */
    color: #268bd2;
  }
  .highlight .nl {
    /* Name.Label */
    color: #586e75;
  }
  .highlight .nn {
    /* Name.Namespace */
    color: #b58900;
  }
  .highlight .nx {
    /* Name.Other */
    color: #268bd2;
  }
  .highlight .py {
    /* Name.Property */
    color: #586e75;
  }
  .highlight .nt {
    /* Name.Tag */
    color: #2aa198;
  }
  .highlight .nv {
    /* Name.Variable */
    color: #dc322f;
  }
  .highlight .ow {
    /* Operator.Word */
    color: #2aa198;
  }
  .highlight .w {
    /* Text.Whitespace */
    color: #586e75;
  }
  .highlight .mf {
    /* Literal.Number.Float */
    color: #cb4b16;
  }
  .highlight .mh {
    /* Literal.Number.Hex */
    color: #cb4b16;
  }
  .highlight .mi {
    /* Literal.Number.Integer */
  }
  .highlight .mo {
    /* Literal.Number.Oct */
    color: #cb4b16;
  }
  .highlight .sb {
    /* Literal.String.Backtick */
    color: #859900;
  }
  .highlight .sc {
    /* Literal.String.Char */
    color: #586e75;
  }
  .highlight .sd {
    /* Literal.String.Doc */
    color: #839496;
  }
  .highlight .s2 {
    /* Literal.String.Double */
    color: #859900;
  }
  .highlight .se {
    /* Literal.String.Escape */
    color: #cb4b16;
  }
  .highlight .sh {
    /* Literal.String.Heredoc */
    color: #859900;
  }
  .highlight .si {
    /* Literal.String.Interpol */
    color: #cb4b16;
  }
  .highlight .sx {
    /* Literal.String.Other */
    color: #859900;
  }
  .highlight .sr {
    /* Literal.String.Regex */
    color: #859900;
  }
  .highlight .s1 {
    /* Literal.String.Single */
    color: #859900;
  }
  .highlight .ss {
    /* Literal.String.Symbol */
    color: #859900;
  }
  .highlight .bp {
    /* Name.Builtin.Pseudo */
    color: #586e75;
  }
  .highlight .vc {
    /* Name.Variable.Class */
    color: #dc322f;
  }
  .highlight .vg {
    /* Name.Variable.Global */
    color: #dc322f;
  }
  .highlight .vi {
    /* Name.Variable.Instance */
    color: #dc322f;
  }
  .highlight .il {
    /* Literal.Number.Integer.Long */
    color: #cb4b16;
  }
  
  .gist td,
  .gist th {
    border-bottom: 0;
  }
  