@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

code.highlighter-rouge {
    margin: 0;
    padding: 0.2em 0.4em;
    color: #586e75;
    background-color: #fafafa;
    font-size: 85%;
    border-radius: 3px;
  }

  /* Multi-line code blocks */
  div.highlighter-rouge,
  figure.highlight {
    position: relative;
    margin-bottom: 1em;
    background: #fafafa;
    color: #586e75;
    /*font-family: "Source Code Pro" ,Menlo, Consolas, Monaco, "Courier New", Courier, monospace;*/
    font-family: 'Source Code Pro', monospace !important;
    line-height: 1.8;
  }
  div.highlighter-rouge > pre,
  div.highlighter-rouge pre.highlight,
  figure.highlight > pre,
  figure.highlight pre.highlight {
    margin: 0;
    padding: 1em;
  }

  .highlight table {
    margin-bottom: 0;
    font-size: 1em;
    border: 0;
  }
  .highlight table td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;
    /* line numbers*/
    /* code */
  }
  .highlight table td.gutter {
    padding-right: 1em;
    width: 1em;
    color: #839496;
    border-right: 1px solid #839496;
    text-align: right;
  }
  .highlight table td.code {
    padding-left: 1em;
  }
  .highlight table pre {
    margin: 0;
  }

  .highlight pre {
    width: 100%;
  }

  :root{
    --h-light-grey: #eee8d5;
    --h-grey: #839496;
    --h-green-grey: #586e75;
    --h-red: #dd1e40;
    --h-dull-red: #dc181e;
    --h-dark-orange: #eb4912;
    --h-mustard: #d7b106;
    --h-lime: #86a900;
    --h-teal: #49a3a6;
    --h-skyblue: #1ba5cb;
    --h-dull-purple: #6550c4;
  }

  .highlight .hll {
    background-color: var(--h-light-grey);
  }

  .highlight .c {
    /* Comment */
    color: var(--h-grey);
  }
  .highlight .err {
    /* Error */
    color: var(--h-red);
  }
  .highlight .k {
    /* Keyword */
    color: var(--h-dull-purple);
  }
  .highlight .l {
    /* Literal */
    color: var(--h-dark-orange);
  }
  .highlight .n {
    /* Name */
    color: var(--h-green-grey);
  }
  .highlight .o {
    /* Operator */
    color: var(--h-teal);
  }
  .highlight .p {
    /* Punctuation */
    color: var(--h-green-grey);
  }
  .highlight .cm {
    /* Comment.Multiline */
    color: var(--h-grey);
  }
  .highlight .cp {
    /* Comment.Preproc */
    color: var(--h-grey);
  }
  .highlight .c1 {
    /* Comment.Single */
    color: var(--h-grey);
  }
  .highlight .cs {
    /* Comment.Special */
    color: var(--h-grey);
  }
  .highlight .gd {
    /* Generic.Deleted */
    color: var(--h-dull-red);
  }
  .highlight .ge {
    /* Generic.Emph */
    font-style: italic;
  }
  .highlight .gh {
    /* Generic.Heading */
    color: var(--h-green-grey);
    font-weight: bold;
  }
  .highlight .gi {
    /* Generic.Inserted */
    color: var(--h-lime);
  }
  .highlight .gp {
    /* Generic.Prompt */
    color: var(--h-grey);
    font-weight: bold;
  }
  .highlight .gs {
    /* Generic.Strong */
    font-weight: bold;
  }
  .highlight .gu {
    /* Generic.Subheading */
    color: var(--h-teal);
    font-weight: bold;
  }
  .highlight .kc {
    /* Keyword.Constant */
    color: var(--h-dull-purple);
  }
  .highlight .kd {
    /* Keyword.Declaration */
    color: var(--h-dull-purple);
  }
  .highlight .kn {
    /* Keyword.Namespace */
    color: var(--h-teal);
  }
  .highlight .kp {
    /* Keyword.Pseudo */
    color: var(--h-dull-purple);
  }
  .highlight .kr {
    /* Keyword.Reserved */
    color: var(--h-dull-purple);
  }
  .highlight .kt {
    /* Keyword.Type */
    color: var(--h-mustard);
  }
  .highlight .ld {
    /* Literal.Date */
    color: var(--h-lime);
  }
  .highlight .m {
    /* Literal.Number */
    color: var(--h-dark-orange);
  }
  .highlight .s {
    /* Literal.String */
    color: var(--h-lime);
  }
  .highlight .na {
    /* Name.Attribute */
    color: var(--h-skyblue);
  }
  .highlight .nb {
    /* Name.Builtin */
    color: var(--h-green-grey);
  }
  .highlight .nc {
    /* Name.Class */
    color: var(--h-mustard);
  }
  .highlight .no {
    /* Name.Constant */
    color: var(--h-dull-red);
  }
  .highlight .nd {
    /* Name.Decorator */
    color: var(--h-teal);
  }
  .highlight .ni {
    /* Name.Entity */
    color: var(--h-green-grey);
  }
  .highlight .ne {
    /* Name.Exception */
    color: var(--h-dull-red);
  }
  .highlight .nf {
    /* Name.Function */
    color: var(--h-skyblue);
  }
  .highlight .nl {
    /* Name.Label */
    color: var(--h-green-grey);
  }
  .highlight .nn {
    /* Name.Namespace */
    color: var(--h-mustard);
  }
  .highlight .nx {
    /* Name.Other */
    color: var(--h-skyblue);
  }
  .highlight .py {
    /* Name.Property */
    color: var(--h-green-grey);
  }
  .highlight .nt {
    /* Name.Tag */
    color: var(--h-teal);
  }
  .highlight .nv {
    /* Name.Variable */
    color: var(--h-dull-red);
  }
  .highlight .ow {
    /* Operator.Word */
    color: var(--h-teal);
  }
  .highlight .w {
    /* Text.Whitespace */
    color: var(--h-green-grey);
  }
  .highlight .mf {
    /* Literal.Number.Float */
    color: var(--h-dark-orange);
  }
  .highlight .mh {
    /* Literal.Number.Hex */
    color: var(--h-dark-orange);
  }
  .highlight .mi {
    /* Literal.Number.Integer */
  }
  .highlight .mo {
    /* Literal.Number.Oct */
    color: var(--h-dark-orange);
  }
  .highlight .sb {
    /* Literal.String.Backtick */
    color: var(--h-lime);
  }
  .highlight .sc {
    /* Literal.String.Char */
    color: var(--h-green-grey);
  }
  .highlight .sd {
    /* Literal.String.Doc */
    color: var(--h-grey);
  }
  .highlight .s2 {
    /* Literal.String.Double */
    color: var(--h-lime);
  }
  .highlight .se {
    /* Literal.String.Escape */
    color: var(--h-dark-orange);
  }
  .highlight .sh {
    /* Literal.String.Heredoc */
    color: var(--h-lime);
  }
  .highlight .si {
    /* Literal.String.Interpol */
    color: var(--h-dark-orange);
  }
  .highlight .sx {
    /* Literal.String.Other */
    color: var(--h-lime);
  }
  .highlight .sr {
    /* Literal.String.Regex */
    color: var(--h-lime);
  }
  .highlight .s1 {
    /* Literal.String.Single */
    color: var(--h-lime);
  }
  .highlight .ss {
    /* Literal.String.Symbol */
    color: var(--h-lime);
  }
  .highlight .bp {
    /* Name.Builtin.Pseudo */
    color: var(--h-green-grey);
  }
  .highlight .vc {
    /* Name.Variable.Class */
    color: var(--h-dull-red);
  }
  .highlight .vg {
    /* Name.Variable.Global */
    color: var(--h-dull-red);
  }
  .highlight .vi {
    /* Name.Variable.Instance */
    color: var(--h-dull-red);
  }
  .highlight .il {
    /* Literal.Number.Integer.Long */
    color: var(--h-dark-orange);
  }

  .gist td,
  .gist th {
    border-bottom: 0;
  }
